body {
    background-image: url("background.jpg");
    
    background-attachment: fixed;
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: cover;


    font-family: 'Times New Roman', serif;
    /* position:absolute; */
}

img{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}

.button {
    font-size:20px;
    color:rgb(150, 0, 0);
    padding:10px;
    position:fixed;
    z-index: 3;
}

.summon {
    font-size: 7vw;
    
    color:rgb(150, 0, 0);
    padding:10px;
    position:fixed;
    z-index: 3;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}

.mirror {
    background-image: url("Bloody_mary_ghost.png");
    position:fixed;
    /* Set a specific height */
    min-height: 100vh; 
    min-width: 100vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: fixed;
    overflow:hidden;

    z-index: 2;
}


#ghost {
    width: 0px;
    /*position: absolute; */
}

#mirror_top{
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    width:120vw;
}

.text {
    visibility:hidden;
    font-size: 0.1rem;
    /* position:absolute; */
    z-index: 1;
    background-image: url("mirror_top.png");
    background-repeat: no-repeat;
    background-size:160vw 100vh;
    background-position-x: -30vw;
    background-position-y: -60vh;
    
    text-align: center;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom:0px;
}
  
h1 {
    color:rgb(150, 0, 0);
    padding:10px;
    font-size: 50px;
}